<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/assets/builds/styles/application.css" data-turbo-track="reload">
    <script src="/assets/builds/application.js" type="module" data-turbo-track="reload"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
